<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
  <title>CodeWithMe</title>
</head>
<body>

  <nav class="column center">
    <p>test</p>
  </nav>

  <div class="main row center">

    <div class="column center">
      <p>test1</p>
    </div>

    <div class="column center">
      <p>test2</p>
    </div>

    <div class="column center">
      <p>test3</p>
    </div>

  </div>

</body>
</html>